body {
        font-family: Roboto;
        background-color: #c3cbd9;
      }

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

#mainNavbar {
	background-color: #070808;
}

#mainNavbar .nav-link: {
	color: white;
}

#mainNavbar .nav-link:hover {
	color: #b51024;
}