{% extends 'tablica/baza2.html' %}

{% load static %}

{% block content %}

<main role="main" class="container">
  <div class="row">
    <div class="col-md-6 blog-main">
      <h2 class="pt-4 pb-2 mb-4 font-italic border-bottom">
        Starsze wpisy
      </h2>
    </div>
    <div class="col-md-2">
    </div>
  </div>

  <div class="row">
	  <div class="blog-posts col-md-6">

		{% for post in posts %}

			<div class="border-bottom mb-4 pt-4">
				{% if post.image %}
					<img class="card-img-top img-thumbnail pb-2 mb-3" src="{{ post.image.url }}" height="300" width="750">
				{% endif %}
				<h3 class="blog-post-title"> {{ post.title }}</h3>
				<p class="blog-post-meta"> {{ post.description }} </p>
				<a href="{% url 'wpis' post.slug %}" class="btn btn-dark mb-2">Czytaj &rarr;</a>
				<div class="text-muted mt-2">
					Opublikowano {{ post.date| date:"d-m-Y"}}
				</div>
			</div>
		{% endfor %}

		{% include 'tablica\pagination.html' with page=posts %}
	   </div>

	   <div class="col-md-2">
	   </div>


	<div class="col-md-4">

   <div class="col-4">
   		  <h4 class="text-center pb-2">Odwiedź nas</h4>
   		  <div class="row pb-3">
   		    <div class="col-6 d-flex justify-content-end">
   		      <a href="https://www.facebook.com/goniecsportowy" target="_blank"><img src="{% static "tablica/fb.png" %}"></a>
   		    </div>
   		    <div class="col-6 d-flex justify-content-start">
   		      <a href=""><img src="{% static "tablica/insta.png" %}"></a>
   		    </div>
   		  </div>
   		  <div class="row">
   		    <div class="col-6 d-flex justify-content-end">
   		      <a href="https://www.youtube.com/channel/UC0LIzETajla6CaCssVLGDyg" target="_blank"><img src="{% static "tablica/yt.png" %}"></a>
   		    </div>
   		    <div class="col-6 d-flex justify-content-start">
   		      <a href=""><img src="{% static "tablica/twitt.png" %}"></a>
   		    </div>
   		  </div>
   		  <h4 class="text-center mt-4 pt-4 pb-2">Partnerzy</h4>
   		  <div class="row mt-2 mb-3">
   		    <div class="col-4">
   		    </div>
   		    <div class="d-flex justify-content-end">
   		      <a href="https://www.1992.com.pl/" target="_blank"><img height=100 width= 150 src="{% static "tablica/1992.jpg" %}"></a>
   		    </div>
   		    <div class="col-4">
   		    </div>
   		  </div>
   		  <div class="row mt-2 mb-3">
   		    <div class="col-4">
   		    </div>
   		    <div class="d-flex justify-content-end">
   		      <a href="https://aplegal.eu/" target="_blank"><img height=100 width= 150 src="{% static "tablica/apl.png" %}"></a>
   		    </div>
   		    <div class="col-4">
   		    </div>
   		  </div>
   		</div>
 	
 	</div>
  </div>
        
  <footer class="blog-footer py-4">
    <p>Blog built with Django3 & Bootstrap4 <a href="https://getbootstrap.com/"></a> by <a href="https://arek1792.pythonanywhere.com">@arek</a>.</p>
    <p>
      <a href="#">Powrót do góry</a>
    </p>
  </footer>
 	
</main>

{% endblock %}