{% extends 'tablica/baza.html' %}

{% block content %}


<div class="heading my-5 pl-2">
	<h3><strong>O Redakcji</strong></h3>
</div>

<div class="row pl-2">
	<div class="col-lg-6 col-md-6">
	<p class="text-justify lead">Jesteśmy portalem zajmującym się tematyką sportową. Gońca tworzy zgrany zespół młodych ludzi, których pasją jest sport i aktywność fizyczna. Każdy z redaktorów jest fanem innej dyscypliny, dzięki czemu na łamach Gońca możecie czytać zarówno o piłce nożnej, siatkówce jak i sportach walki oraz popularnych ostatnio <em>freak-fightach</em>. Serdecznie zapraszamy do śledzenia naszej działalności tutaj oraz na social mediach.</p>
	</div>
	<div class="col-lg-2 col-md-2">
	</div>
	<aside class="col-md-4 blog-sidebar">
      <div class="social-media pl-2">
        <h3 class="text-justify">Social Media</h3>
        <ol class="list-unstyled">
          <li><a href="https://www.facebook.com/goniecsportowy">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="https://www.youtube.com/channel/UC0LIzETajla6CaCssVLGDyg">YouTube</a></li>
        </ol>
      </div>
     </aside>
</div>


{% endblock %}