{% extends 'tablica/baza.html' %}

{% load static %}

{% block content %}



<main role="main" class="container">
  <div class="row">
    <div class="col-md-6 blog-main">
      <h2 class="pt-4 pb-2 mb-4 font-italic border-bottom">
        Najnowsze wpisy
      </h2>
    </div>
    <div class="col-md-2">
    </div>
  </div>

  <div class="row">
	  <div class="blog-posts col-md-6">

		{% for artykul in artykuly %}

			<div class="border-bottom mb-4 pt-4">
				{% if artykul.image %}
					<img class="card-img-top img-thumbnail pb-2 mb-3" src="{{ artykul.image.url }}" height="300" width="750">
				{% endif %}
				<h3 class="blog-post-title"> {{ artykul.title }}</h3>
				<p class="blog-post-meta"> {{ artykul.description }} </p>
				<a href="{% url 'wpis' artykul.slug %}" class="btn btn-dark mb-2">Czytaj &rarr;</a>
				<div class="text-muted mt-2">
					Opublikowano {{ artykul.date| date:"d-m-Y"}}
				</div>
			</div>
		{% endfor %}

	   </div>

	   <div class="col-md-2">
	   </div>

	<div class="col-md-4">
   <aside class="blog-sidebar">
      <div class="social-media pl-3">
        <h3 class="text-justify">Social Media</h3>
        <ol class="list-unstyled">
          <li><a href="https://www.facebook.com/goniecsportowy">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="https://www.youtube.com/channel/UC0LIzETajla6CaCssVLGDyg">YouTube</a></li>
        </ol>
      </div>
     </aside>
 	</div>
  </div>
        
 	
</main>


{% endblock %}
